/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/
:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: 	hsl(0, 0%, 95%);
  --color-neutral-400: hsla(0, 0%, 100%, 0.5);
  --color-neutral-800: hsl(0, 0%, 10%);
  --color-primary-300: 	hsl(178, 13%, 48%);
  --color-primary-400: hsl(178, 13%, 25%);
  --color-twitter: hsl(206, 89%, 59%);

  --ff: "Quicksand", sans-serif;

  --10px: calc(10rem / 16);
  --15px: calc(15rem / 16);
  --19px: calc(19rem / 16);
  --20px: calc(20rem / 16);
  --24px: calc(24rem / 16);
  --28px: calc(28rem / 16);
  --30px: calc(30rem / 16);
  --42px: calc(42rem / 16);
  --64px: calc(64rem / 16);
  --900px: calc(900rem / 16);
}

body {
  display: grid;
  place-content: center;
  background-color: var(--color-neutral-100);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%236a8a89' fill-opacity='0.11' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  font-family: var(--ff);
  font-weight: 600;
  color: var(--color-neutral-800);
  text-align: center;
}

/*------------------------------------*\
  #COMPOSITION
\*------------------------------------*/

.flow > * + * {
  margin-block-start: var(--space, var(--15px));
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/*------------------------------------*\
  #UTILITY
\*------------------------------------*/

.fs-24px {
  font-size: var(--24px);
}

.fs-28px {
  font-size: var(--28px);
}

.fs-42px {
  font-size: var(--42px);
}

.fs-64px {
  font-size: var(--64px);
}

.fw-400 {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

/*------------------------------------*\
  #BLOCK
\*------------------------------------*/
.card {
  width: auto;
  max-width: var(--900px);
  padding: var(--20px) var(--30px);
  border-radius: var(--10px);
  background: var(--color-neutral-400);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

button {
  height: 2.5rem;
  padding: 0.5rem 1.8rem;
  border: none;
  border-radius: var(--10px);
  outline: none;
  background: var(--color-primary-400);
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
  font-size: var(--19px);
  color: var(--color-neutral-100);
  cursor: pointer;
}

button:hover {
  filter: brightness(125%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.loader {
  border: 16px solid var(--color-neutral-200);
  border-top: 16px solid var(--color-primary-300);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*------------------------------------*\
  #EXCEPTION
\*------------------------------------*/
button[data-type="twitter"]:hover {
  color: var(--color-twitter);
}

.quote[data-state="long"] {
  font-size: 2rem;
}

/*------------------------------------*\
  #MEDIA-QUERY
\*------------------------------------*/

/* Tablet or smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto var(--10px);
  }

  .quote-text {
    font-size: 2.5rem;
  }
}
